.carouselbox {
  position: absolute;
  right: 20px;
  top: 0px;
  z-index: 99;
  color: #025a91;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 20px #DFE2F5;
  width: 300px;
  text-align: left;
}

.carouselbox .sb-title{
  font-size: 20px;
  font-weight: bold;
}
.carouselbox .sb-price{
  font-size: 18px;
}
.carouselbox .sb-price .price{
  color:#45B9EA;
  font-size: 22px;
  float: right;
  height: 50px;
}
.carouselbox .sb-text{
  font-size: 14px;
  color:#ccc;
}

.light-carousel-box{
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 99;
  color: #025a91;
  padding: 5px;
  background: #fff;
  box-shadow: 0px 0px 20px #DFE2F5;
  width: 200px;
  text-align: center;
}

.light-sb-title{
  color: #025a91;
  font-size: 18px;
  font-weight: bold;
}
