@import "directives.css";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  min-width: 250px;
}

.top-menu-line{
  height: 80px;
}

.left-part {
  float: left;
}
.right-part {
  float: right;
}

.top-menu-line .left-part,
.top-menu-line .right-part{
  height: 80px;
  line-height: 100px;
  position: relative;
}
.top-menu-line .left-part img{
  margin-right: 10px;
}
.top-menu-line .left-part img.logo{
  width: 72px;
  height: 50px;
}
.top-menu-line .left-part img.royal{
  width: 120px;
  height: 15px;
}
.top-menu-line .left-part img.team{
  width: 30px;
  height: 30px;
}
.bottom-menu-line{
  border-top: 1px solid #0da6e0 ;
  height: 50px;
  line-height: 50px;
}

ul.menu{
  list-style: none;
}
.top-menu-line ul.menu>li{
  border-right: 1px solid #0da6e0;
}
ul.menu>li{
  display: inline;
  color: #0da6e0;
  margin-right: 10px;
  padding: 0px 10px 0px 0px;

}
ul.menu>li:last-child{
  margin-right: 0px;
  border: none;
  padding: 0px 0px 10px 0px;
}

ul.dropdown-inside{
  display: none;
  position: absolute;
  z-index: 99999999;
  background-color: #fff;
  padding: 10px;
  top: 67px;
  right: 0px;
  width: 100px;
  border: 1px solid;
  float: right;
}
ul.dropdown-inside li{
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #0da6e0;
}
ul.menu>li:hover ul.dropdown-inside{
  display: block;

}




.limited-row {
  clear: both;
  max-width: 984px;
  margin: 0 auto;
  overflow: visible;
  width: 100%;
}
.relative{
  position: relative;
}

.main-container{
  width: 100%;
  height: 100%;
}

.accordion-group,
.tabs-group{
  margin-top: 3px;
}




/*customization*/
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
  width: auto;
  height: 100%;
  max-width: none;
}

.carousel {
  position: relative;
  height: 100%;
}
.carousel-inner,
.carousel-inner>.item {
  height: 100%;
}


.carousel-inner>.item {
  object-fit: none; /* Do not scale the image */
  object-position: center;
}

/* Set the image to fill its parent and make transparent */
.carousel-inner>.item>img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.carousel-control{
  opacity: 0;
  width: 5%;
}

.carousel-control.right,
.carousel-control.left{
  background-image:none;
}

.carousel:hover .carousel-control {
  outline: 0;
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.carousel-indicators{
  left:inherit ;
  right: 20px;
  width: auto;
  margin-left: 0;
}
.carousel-indicators li{
  margin: 0px 2px;
  height: 12px;
  width: 12px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.carousel-indicators .active {
  background-color: #0da6e0;
  margin: 0px 2px;

}

.panel-group .panel{
  border-radius: 0px;
}

.panel-group .panel .panel-heading{
  background-color: #0da6e0;
  color:#fff;
  border-radius: 0px;
}

.dis-layer{
  height: 50px;
  right: 20px;
  width: 100%;
  position: absolute;
  opacity: 0;
  margin-top: -50px;
  z-index: 999;
  display: none;
}

.nav-tabs.nav-justified>li{
  padding: 0px 2px;
}

.nav-tabs.nav-justified>li>a {
  background-color: #0da6e0;
  color: #fff;
}
.nav-tabs.nav-justified>li.active>a {
  background-color: #fff;
  color: #0da6e0;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  background-color: #fff;

}

.navbar-default .navbar-nav>li>a{
  color: #0da6e0;
}

.navbar-default{
  border:none;
  background-color: #fff;
}
.navbar-collapse{
  padding: 0px;
}

.navbar-header{
  background-color: #fff;
}

.btn-group, .btn-group-vertical {
  margin-top: -3px;
  margin-left: 10px;
}

.btn-primary {
  background-color: #0da6e0;
  border:none;
}

.short-btns{
  display: none;
}

.search-modify-search-homepage {
  width: 370px;
  background-color: white;
  box-shadow: 0 1px 4px gray;
  position: absolute;
  z-index: 999;
  margin-top: 40px;
  padding: 20px;
}


h1{
  font-size: 22px;
  color: #005b82;
  margin-top: 0px;
}


.search-modify-search-homepage label{
  font-weight: bold;
  color: #005b82;
}

.search-modify-search-homepage label span{
  width:100px;
  display: inline-block;
}

input[type="text"]{
  color: #003145;
  background-color: #fcfefe;
  border: 1px solid #a6d1e1;
  border-radius: 3px;
  font-size: 13px;
  width: 220px;
  line-height: 18px;
  padding: 6px 7px;
  margin: 0;
  height: 32px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
}


.search-modify-search-homepage select{
  margin: 0;
  height: 32px;
  line-height: 15px;
  padding: 6px;
  width: 220px;
  color: #003145;
  border: 1px solid #abd7ea;
  border-radius: 3px;
  background-color: #fcfefe;
}

.order-tab .search-modify-search-homepage {
  box-shadow: none;
  position: relative;
  z-index: 0;
  margin-top: -10px;
  margin-left: -7px;
  padding: 0px;
}


.orange{
  color: #fff;
  background: #e77b2f;
}
.orange:hover{
  color:#fff;
  background: #d2742b;
}

button.orange{
  margin: 5px 0px;
}


.carousel-indicators{
  display: none;
}
.gallery-container:hover .carousel-indicators{
  display: block;
}
