/* Responsive: Portrait tablets and up */
@media screen and (max-width: 984px) {
  .top-menu-line{
    padding: 0px 15px;
  }
  .bottom-menu-line{
    padding: 0px;
  }
  .search-modify-search-homepage {
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .carouselbox {
    display: none;
  }
  .accordion-group {
    display: block;
  }
  .tabs-group{
    display: none;
  }

  .carousel-indicators{
    display: none;
  }
  .gallery-container .carousel-indicators{
    display: block;
  }

  .carousel .carousel-control {
    opacity: 1;
  }

  .royal-span{
    display: none;
  }
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    border-bottom: 1px solid #fff;
  }
  .nav-tabs.nav-justified>li>a {
    border: none;
    border-bottom: 1px solid #0da6e0;
    border-radius: 4px 4px 0 0;
  }

  .carousel-inner, .carousel-inner>.item {
    height: 400px;
  }

  .navbar-nav {
    float: left;
    margin: 0;
  }
  .right-part .menu a>.glyphicon{
    display: none;
  }

}
@media screen and (max-width: 460px) {
  input[type="text"], select{
    display: block;
  }
  .search-modify-search-homepage {
    width: 270px;
  }
  .right-part ul.menu{
    display: none;
  }
  .short-btns{
    display: block;
  }
  nav.navbar-nav {
    display: none;
  }
  .nav.navbar-nav{
    display: none;
  }
}

@media screen and (min-width: 460px) {
  .btn-group.dropdown{
    display: none;
  }
}


@media screen and (max-width: 321px) {
  .search-modify-search-homepage {
    display: none;
  }
  .carouselbox {
    display: none;
  }

  .search-modify-search-homepage{
    display: none;
  }
  .accordion-group {
    display: block;
  }
  .tabs-group{
    display: none;
  }
  .carousel-inner, .carousel-inner>.item {
    height: 150px;
  }
  .nav.navbar-nav{
    display: none;
  }

  .right-part ul.menu{
    display: none;
  }
  .short-btns{
    display: block;
  }
  .carousel-inner>.item>img{
    left:0px;
     transform: translateX(0%);
  }

  .order-tab,
  .order-tab .search-modify-search-homepage{
    display: block;
  }
  .order-tab .search-modify-search-homepage h1{
    display: none;
  }

  .carousel-indicators{
    bottom: 0px;
  }
  .light-carousel-box {
    display: block;
  }
  .dis-layer{
    display: block;
  }

  .gallery-container .carousel-indicators{
    display: block;
  }

  .carousel-indicators {
    bottom: 0px;
    left: 50%;
    margin-left: -140px;
  }

}

@media screen and (min-width: 321px) {
  .accordion-group {
    display: none;
  }
  .tabs-group{
    display: block;
  }

  .navbar-toggle {
    display: none;
  }
  .navbar-nav>li {
    float: left;
  }
}

