<div>
  <div class="carouselbox">
    <div class="sb-title">{{model.title}}</div>
    <div class="sb-price">price from <span class="price"><a href="/">EUR {{model.price}}</a></span></div>
    <div class="sb-text">
      {{model.text}}
    </div>
  </div>

  <span class="light-carousel-box">
    <span class="light-sb-title">{{model.title}}</span>
    <span class="sb-price"> from <span class="price"><a href="/">EUR {{model.price}}</a></span></span>
  </span>
</div>
