<div class="search-modify-search-homepage">
  <h1>Search flights</h1>
  <label><span >From</span>
    <input type="text" placeholder="From">
  </label>
  <label><span >Return</span>
    <input type="text" placeholder="Return">
  </label>
  <label><span >Dates</span>
    <input type="text" placeholder="Dates" data-pairedinrangeas="end">
  </label>
  <label class=" "><span >Travel class</span>
    <select class="g-search-form--input g-forms-selectbox">
      <option value="ECONOMY" selected="">Economy Class</option>
      <option value="BUSINESS">Business Class</option>
    </select></label>

  <div>
    <button id="single-button" type="button" class="btn orange">
      Cheap flights
    </button>
  </div>
</div>
