<div class="limited-row">
<div class="top-menu-line">

    <div class="left-part">
      <a href="http://">
        <img class="logo" src="images/klm.png" alt=""/>
      </a>
      <span class="royal-span">
         <a href="http://">
           <img class="royal" src="images/royal.png" alt=""/>
         </a>
          <a href="http://">
              <img class="team" src="images/team.png">
          </a>
      </span>
    </div>
    <div class="right-part">
      <div class="short-btns">
        <a type="button" class="btn">
          <span class="glyphicon glyphicon-user"></span>
        </a>
        <a type="button" class="btn">
          <span class="glyphicon glyphicon-th-large"></span>
        </a>
        <a type="button" class="btn">
          <span class="glyphicon glyphicon-plane"></span>
        </a>
      </div>
      <ul class="menu">
        <li>
          <a href="http://"><span class="glyphicon glyphicon-user"></span> Login </a>
        </li>
        <li>
          <a href="http://"><span class="glyphicon glyphicon-th-large"></span> Register </a>
        </li>
        <li>
          <a href="http://"><span class="glyphicon glyphicon-plane"></span> Language </a>
          <ul class="dropdown-inside">
            <li><a href="/">English</a></li>
            <li><a href="/">Russian</a></li>
            <li><a href="/">Netherland</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>



  <div class="bottom-menu-line">
    <nav class="navbar navbar-default">
      <div class="btn-group" dropdown>
        <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle>
          Actions<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a href="/">Home</a></li>
          <li role="menuitem"><a href="/">Plan & Book</a></li>
          <li role="menuitem"><a href="/">Prepare for travel</a></li>
          <li role="menuitem"><a href="/">Customer service</a></li>
        </ul>
      </div>

      <div id="navbar">
          <ul class="nav navbar-nav">
            <li class=""><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="/" >Plan & Book</a>
            </li>
            <li class="dropdown">
              <a href="/" >Prepare for travel</a>
            </li>
            <li class="dropdown">
              <a href="/">Customer service</a>
            </li>
          </ul>
        </div>
    </nav>

  </div>
</div>
