<div class="{{!model.isTouchDevice ? 'touch_device' : ''}}">
  <div class="limited-row">
    <div ng-include="'views/templates/form.html'"></div>
  </div>
  <div class="gallery-container">
    <carousel interval="model.sliderInterval" no-wrap="false">
      <slide ng-repeat="slide in model.slides" active="slide.active">
        <div class="limited-row relative">
          <slider-box options="slide"></slider-box>
        </div>
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="dis-layer"></div>
      </slide>

    </carousel>
  </div>
</div>

<div class="limited-row">
  <!--content can be put to templates-->
  <accordion close-others="true" class="accordion-group">
    <accordion-group class="order-tab" heading="Order" is-open="true">
      <div ng-include="'views/templates/form.html'"></div>
    </accordion-group>
    <accordion-group heading="Reis">
      Content for mijn reis.
    </accordion-group>
    <accordion-group heading="Inchecken">
      Content for Inchecken
    </accordion-group>
    <accordion-group heading="Info">
      Content for Info
    </accordion-group>
    <accordion-group heading="Contact">
      Content for Contact
    </accordion-group>
  </accordion>


  <tabset justified="true" class="tabs-group">
    <tab heading="Reis">Content for mijn reis.</tab>
    <tab heading="Inchecken">Content for Inchecken</tab>
    <tab heading="Info">Content for Info</tab>
    <tab heading="Contact">Content for Contact</tab>
  </tabset>
</div>
